// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

.menu-inner {
  background: rgba(255, 255, 255, .3);
}

.bar-button {
  color: white;
}

.toolbar-background {
  background-color: map-get($colors, primary);
}

.toolbar-title {
  color: white;
  font-family:'Raleway';
}

#mainSlideMenu {
  h3, .label {
    color: map-get($colors, light);
    //font-weight: bold;
    font-size: 16px;
  }

  .item {
    background: transparent;
  }

  ion-content {
    background: #56ccf2; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #56ccf2, #2f80ed); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #56ccf2, #2f80ed); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  ion-icon {
    color: white;
  }

  ion-list {
    padding-top: 20px;
    padding-left: 10px;
  }

  .activePageHighlight {
    color: white;
    font-weight: bold;
  }
}
